@font-face {
    font-family: Satoshi-Black;
    src: url(./assets/Satoshi-Black.ttf);
}
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Satoshi-Black;
    color: #121212;
}

body {
    margin: 0;
    padding: 0;
    background: #86ba90;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px, solid #FFFFFF;
    outline: none;
    background-color: rbga(255, 255, 255, 0.75);
    border-radius: 200px;
    border: none;
    margin: 5px;

}

.calculator-grid > button:hover {
    background-color: #a6a6a6;
}

.two-col {
    grid-column: span 2;
}

.op-button {
    background-color: #d7d0d0;
}

.results{
    grid-column: 1 / -1;
    background-color: rgba(19, 52, 58, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom: 10px;
    border-radius: 20px;
  }

  .results .prev{
    color: rgba(255,255, 255, 0.75);
    font-size: 1.5rem;
  }

  .results .current{
    color: white;
    font-size: 2.5rem;
  }